.title{
    background-color: gold;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Impact, Charcoal, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

table{
    width: auto;
}



