

.title{
    background-color: gold;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Impact, Charcoal, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

table {
    width: auto;
    background-color: whitesmoke;
}


.body{
    background-color: gold;
}

.testing{
    background-color: white;
    width: 800px;
    display: inline-block;
}

#border {
    border: maroon 2px dashed;
}

