.header {
    background-color: #8B0000;
    height: 75px;
}

.headerImg{
    height: 75px;
    width: 100px;

}

.imgDiv{
    display: inline;
    position: absolute;
    left: 0;
}

.linksDiv{
    position: absolute;
    display: inline;
    right: 0;
    padding-top: 30px;
    font-size: 30px;
    padding-right: 10px;
}

.linksDiv a{
    color: gold;
}